<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">TestApp</h1>
          <p class="lead text-muted">With this web-app, you can do CRUD commands (create, read, update and destroy clients) and search by specified parameters.</p>
          <p>
            <%= link_to "Get started", clients_path, class: "btn btn-primary btn-sm" %>
            <%# <a href="#" class="btn btn-secondary my-2">Secondary action</a> %>
          </p>
        </div>
      </section>